{% extends 'padre.html' %}
{% load static %}
{% load i18n %}
{% block contenido %}
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <h1>Cambiar contraseña</h1>
                <div class="my-5">
                    <form action="" method="POST">
                        {% language 'es' %}
                        {% csrf_token %}
                        {{form.as_p}}
                        {% endlanguage %}
                        <br />
                        <!-- Submit Button-->
                        <button class="btn btn-light" id="submitButton" type="submit">Cambiar contraseña</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}