{% extends 'padre.html' %}
{% load static %}
{% load i18n %}
{% block contenido %}
{% if user.is_authenticated %}
        <!-- Post Content-->
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="post-preview">
                        <h1>{{post.titulo}}</h1><br>
                        <h3 class="post-subtitle">{{post.subtitulo}}</h3>
                        {% if post.imagen %}
                            <img src="{{post.imagen.url}}" alt="">
                        {% endif %}
                        <p class="post-meta">
                            Subido por
                            <a href="#!">{{post.autor}}</a>
                            el {% language 'es' %}{{post.fecha}}{% endlanguage %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <article class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>{{post.cuerpo}}</p>
                        {% if user.id == post.autor.id %}
                        <div class="field">
                            <a href="{% url 'editar_post' post.pk %}"><button class="btn btn-light small">Editar</button></a>
                            <a href="{% url 'eliminar_post' post.pk %}"><button class="btn btn-light small">Eliminar</button></a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </article>
        <br>
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <h4 class="subtitle">Comentarios</h4>
                    {% if not post.comentarios %}
                        <div class="notification">
                            <p class="text-secondary small">Sin comentarios</p>
                        </div>
                    {% else %}
                        {% for comentario in post.comentarios.all %}
                            <strong>{{comentario.nombre}}</strong>
                            <small>{% language 'es' %}{{comentario.fecha}}{% endlanguage %}</small>
                            <br>
                            {{comentario.cuerpo}}
                            <br><br>
                        {% endfor %}
                    {% endif %}
                    <br><br>
                    <a href="{% url 'comentar' post.pk %}"><button class="btn btn-light small">Agregar comentario</button></a>
                    <br>
                </div>
            </div>
        </div>
{% else %}
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <h1>¡Tenés que estar logueado para ver esta página!</h1><br>
                <div class="field">
                    <a href="{% url 'login' %}"><button class="btn btn-light small">Login</button></a>
                </div>
            </div>
        </div>
    </div>
</main>
{% endif %}
<br>
{% endblock %}