{% extends 'padre.html' %}
{% load static %}
{% load i18n %}
{% block contenido %}
{% if form.errors %}
    <p>Error al cargar el formulario. Intente nuevamente.</p>
{% endif %}
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <h1>Registro</h1>
                <div class="my-5">
                    <form action="" method="POST">
                        {% language 'es' %}
                        {% csrf_token %}
                        {{formulario.as_p}}
                        {% endlanguage %}
                        {% if form.errors %}
                            {% for error in form.errors %}
                                <div class="container position-relative px-4 px-lg-5">
                                    <div class="row gx-4 gx-lg-5 justify-content-center">
                                        <div class="col-md-10 col-lg-8 col-xl-7">
                                            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                                {{error}}
                                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}<!--
                        <div class="form-floating">
                            <input class="form-control" id="name" type="text" name="nombre" placeholder="Enter your name..." required/>
                            <label for="name">Nombre de usuario</label>
                        </div>
                        <div class="form-floating">
                            <input class="form-control" type="password" name="password" placeholder="Enter your email..." required/>
                            <label>Contraseña</label>
                        </div>
                        <br />-->
                        <!-- Submit Button-->
                        <button class="btn btn-light" id="submitButton" type="submit">Registrarse</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}